## General
tmp*
*.tmp
__pycache__
other
iwenv*
models/*
!models/*.txt

images
images_det

#data/*
#!data/genome/*
data/demo
data/embeddings/*
!data/embeddings/fallback*.json
data/vg
data/scripts
data/coco
data/pretrained_model
data/cache/*
data/genome/visual_genome_python_driver
data/genome/coco_splits
data/genome/vg-dsr
data/genome/xml
data/genome/*/xml
data/genome/*/json
#data/genome/1600-400-20/data_*.json
data/**/*_relst_*.json
data/genome/**/*_count.txt
data/genome/1600-400-20/data_annos_img_train.json
!data/vrd/*.json
data/sg_dataset.zip # TODO: remove, move sg_dataset.zip to vrd folder
data/vrd/sg_dataset*
#data/vrd/4392556686_44d71ff5a0_o.jpg

# Non-evaluation Pickles, Matlab
data/**/*.pkl
data/**/*.mat
!data/**/eval/**/*.pkl
!data/**/eval/**/*.mat
data/**/*.npy

