## General
tmp*
*.tmp
__pycache__
other/*
iwenv*/
models

images
images_det
img-vrd

#data/*
#!data/genome/*
data/demo/*
data/vg
data/scripts/*
data/coco
data/pretrained_model/*
data/cache/*
data/genome/visual_genome_python_driver
data/genome/coco_splits
data/genome/xml/
data/genome/*/xml
data/genome/*/json
data/genome/*/*.json
data/genome/*.json
data/vrd/sg_dataset/
data/vrd/sg_dataset.zip
data/vrd/*.pkl
data/*.npy

data/word2vec_model/
